.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #000000;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #88873e;
    border: 1px solid #88873e;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: #64632e;
    color:white;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    /* background-color: rgb(199, 215, 200); */
    color:white;
    padding: 2rem;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .fieldLogin{
    margin-top:38vh;
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
    color:white;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    color:#000000;
  }

  .btnConnexion{
    border: .1rem #404040 solid;
    background-color: #a2a349;
    color:black;
    /* width: 100%; */
    /* cursor: pointer; */
    border-radius: 0.5rem;
    margin-top: 1.5vh;
  }
  .boutonConnexionDesactive{
    margin-top:2vh;
    background-color:#545525;
    color: black;
  }
  .boutonConnexionDesactive:hover{
    background-color:#545525;
    color: black;
    cursor: not-allowed;
    padding: .3rem;
    border: .1rem #404040 solid;
    width: 100%;
    border-radius: 0.5rem;
  }

  .hide{
    display:none;
}
.boutonConnexionDesactive:hover + .hide{
    color: rgb(162, 54, 54);
    display:flex;
    position:absolute;
    margin-top:0.5vh;
}

h1{
  color:white;
}

.headerLogin{
  z-index: 10;
  margin-top:-31.5vh;
}

.glob{
  position:absolute;
}