.page
    {
        background-color:black;
    }
.titre
    {
        text-align: center;
        text-decoration-line:none;
    }
.choixIngredients
    {
        display:flex;
        justify-content:center;
    }
.categorie
    {
        margin-left:5%;
    }
.containerIngredients
    {
    display:flex;
    justify-content:center;
    
    }
.nomPizza 
    {
        display:flex;
        justify-content:center;
        margin:5%;
    }
.texte
    {
        text-align: center;
        margin-top:20%;
        margin-bottom:-10%;
    }

.ingredients
    {
      position: absolute;
      
    }
.nom
    {
        position:center;
    }

.pizzaButton{
    display:inline;
    width: 5rem;
}
    